<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FilmStoreWebProject</display-name>
     <context-param>
        <param-name>CHANGE_LANGUAGE</param-name>
        <param-value>by.training.filmstore.command.impl.ChangeLanguageCommand</param-value>
    </context-param>
    <context-param>
        <param-name>SHOW_LIST_FILM</param-name>
        <param-value>by.training.filmstore.command.impl.ShowListFilmCommand</param-value>
    </context-param>
    <context-param>
        <param-name>LOGINATION</param-name>
        <param-value>by.training.filmstore.command.impl.LoginationCommand</param-value>
    </context-param>
    <context-param>
        <param-name>LOGOUT</param-name>
        <param-value>by.training.filmstore.command.impl.LogoutCommand</param-value>
    </context-param>
    <context-param>
        <param-name>SIGN_UP</param-name>
        <param-value>by.training.filmstore.command.impl.SignUpCommand</param-value>
    </context-param>    
    <context-param>
        <param-name>SIGN_UP_SHOW_PAGE</param-name>
        <param-value>by.training.filmstore.command.impl.SignUpShowPageCommand</param-value>
    </context-param> 
    <context-param>
        <param-name>LOGIN_SHOW_PAGE</param-name>
        <param-value>by.training.filmstore.command.impl.LoginShowPageCommand</param-value>
    </context-param> 
    <context-param>
        <param-name>INIT_POOL_CONNECTION</param-name>
        <param-value>by.training.filmstore.command.impl.PoolConnectionInitCommand</param-value>
    </context-param>
    <context-param>
        <param-name>DESTROY_POOL_CONNECTION</param-name>
        <param-value>by.training.filmstore.command.impl.PoolConnectionDestroyCommand</param-value>
    </context-param>
    <context-param>
        <param-name>SHOW_COMMENT_PAGE</param-name>
        <param-value>by.training.filmstore.command.impl.CommentShowPageCommand</param-value>
    </context-param> 
    <context-param>
        <param-name>MAKE_COMMENT</param-name>
        <param-value>by.training.filmstore.command.impl.MakeCommentCommand</param-value>
    </context-param>
    <context-param>
        <param-name>PUT_IN_BASKET</param-name>
        <param-value>by.training.filmstore.command.impl.PutInBasketCommand</param-value>
    </context-param>
    <context-param>
        <param-name>REMOVE_FILM_FROM_BASKET</param-name>
        <param-value>by.training.filmstore.command.impl.RemoveFilmFromBasketCommand</param-value>
    </context-param>
    <context-param>
        <param-name>MAKE_ORDER_SHOW_PAGE</param-name>
        <param-value>by.training.filmstore.command.impl.MakeOrderShowPageCommand</param-value>
    </context-param>
    <context-param>
        <param-name>MAKE_ORDER</param-name>
        <param-value>by.training.filmstore.command.impl.MakeOrderCommand</param-value>
    </context-param>
    <context-param>
        <param-name>PERSONAL_INFO_SHOW</param-name>
        <param-value>by.training.filmstore.command.impl.PersonalInformationShowCommand</param-value>
    </context-param>
    <context-param>
        <param-name>ORDER_FOR_USER_SHOW</param-name>
        <param-value>by.training.filmstore.command.impl.OrderForUserShowCommand</param-value>
    </context-param>    
    <context-param>
        <param-name>CHANGE_PASSWORD_SHOW_PAGE</param-name>
        <param-value>by.training.filmstore.command.impl.ChangePasswordShowPageCommand</param-value>
    </context-param>
    <context-param>
        <param-name>CHANGE_PASSWORD</param-name>
        <param-value>by.training.filmstore.command.impl.ChangePasswordCommand</param-value>
    </context-param>  
    <context-param>
        <param-name>PAY_ORDER</param-name>
        <param-value>by.training.filmstore.command.impl.PayOrderCommand</param-value>
    </context-param>     
    <context-param>
        <param-name>ANNUL_ORDER</param-name>
        <param-value>by.training.filmstore.command.impl.AnnulOrderCommand</param-value>
    </context-param> 
    <context-param>
        <param-name>A_CREATE_FILM_SHOW_PAGE</param-name>
        <param-value>by.training.filmstore.command.impl.AdminCreateFilmShowPageCommand</param-value>
    </context-param>     
    <context-param>
        <param-name>A_CREATE_FILM</param-name>
        <param-value>by.training.filmstore.command.impl.AdminCreateFilmCommand</param-value>
    </context-param>
    <context-param>
        <param-name>A_UPDATE_FILM_SHOW_PAGE</param-name>
        <param-value>by.training.filmstore.command.impl.AdminUpdateFilmShowPageCommand</param-value>
    </context-param>
    <context-param>
        <param-name>A_UPDATE_FILM</param-name>
        <param-value>by.training.filmstore.command.impl.AdminUpdateFilmCommand</param-value>
    </context-param>
	<context-param>
        <param-name>A_SHOW_LIST_FILM</param-name>
        <param-value>by.training.filmstore.command.impl.AdminShowListFilmCommand</param-value>
    </context-param>
	<context-param>
        <param-name>A_MAKE_DISCOUNT_SHOW_PAGE</param-name>
        <param-value>by.training.filmstore.command.impl.AdminMakeDiscountShowPageCommand</param-value>
    </context-param>
	<context-param>
        <param-name>A_MAKE_DISCOUNT_SHOW_USER</param-name>
        <param-value>by.training.filmstore.command.impl.AdminMakeDiscountShowUserCommand</param-value>
    </context-param>
	<context-param>
        <param-name>A_MAKE_DISCOUNT</param-name>
        <param-value>by.training.filmstore.command.impl.AdminMakeDiscountCommand</param-value>
    </context-param>
    <context-param>
        <param-name>A_DELETE_FILM</param-name>
        <param-value>by.training.filmstore.command.impl.AdminDeleteFilmCommand</param-value>
    </context-param>                     
  <welcome-file-list>
    <welcome-file>index_redirect.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>401</error-code>
    <location>/error-page.jsp</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/error-page.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/error-page.jsp</location>
  </error-page>
  <listener>
    <listener-class>by.training.filmstore.controller.FilmStoreContextListener</listener-class>
  </listener>
  <listener>
  	<listener-class>by.training.filmstore.controller.FilmStoreSessionListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>Controller</display-name>
    <servlet-name>Controller</servlet-name>
    <servlet-class>by.training.filmstore.controller.Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/Controller</url-pattern>
  </servlet-mapping>
    <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>by.training.filmstore.controller.EncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>